@import './utils/colors';
@import './utils/typo';
@import './utils/keyframes';
@import './utils/breakpoints';

@import './components/input';
@import './components/btn';
@import './components/icon';
@import './components/nav';
@import './components/link';
@import './components/img';
@import './components/date';
@import './components/card-post';
@import './components/flux-post';
@import './components/form-post';
@import './components/card-profile';
@import './components/flux-profile';
@import './components/sidebar';
@import './components/form-profile';
@import './components/card-com';
@import './components/flux-com';
@import './components/form-com';

@import './layout/ctn';
@import './layout/box';
@import './layout/bg';
@import './layout/border';

@import './pages/sign';
@import './pages/create-post';
@import './pages/my-profile';
@import './pages/post';
@import './pages/profile';
@import './pages/moderate-profile';

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: Inter, sans-serif;
  max-width: 100vw;
  min-height: 100vh;
  background: url('./assets/icon-left-font-monochrome-white.svg') no-repeat
      0.4rem 0.5rem / 10rem,
    url('./assets/endless-constellation.svg') 30%,
    linear-gradient(to bottom, $p_darker, 85%, $p_lighter);
  @media screen and (min-width: $bp_tablet) {
    background: url('./assets/icon-left-font-monochrome-white.svg') no-repeat
        0.5rem 0.5rem / 10rem,
      url('./assets/endless-constellation.svg') 30%,
      linear-gradient(to bottom, $p_darker, 85%, $p_lighter);
  }
  @media screen and (min-width: $bp_laptop) {
    background: url('./assets/icon-left-font-monochrome-white.svg') no-repeat
        1.15rem 0.5rem / 10rem,
      url('./assets/endless-constellation.svg') 30%,
      linear-gradient(to bottom, $p_darker, 85%, $p_lighter);
  }
  @media screen and (min-width: $bp_laptop_large) {
    background: url('./assets/icon-left-font-monochrome-white.svg') no-repeat
        0.5rem 0.5rem / 10rem,
      url('./assets/endless-constellation.svg') 30%,
      linear-gradient(to bottom, $p_darker, 85%, $p_lighter);
  }
  @media screen and (min-width: $bp_big_screen) {
    background: url('./assets/icon-left-font-monochrome-white.svg') no-repeat
        0.5rem 0.5rem / 10rem,
      url('./assets/endless-constellation.svg') 30%,
      linear-gradient(to bottom, $p_darker, 85%, $p_lighter);
  }
}