// Primary :
$p_darker: #d44c4c;
$p_dark: #eca0a0;
$p: #ffd7d7;
$p_light: #fff2f2;
$p_lighter: #ffffff;

// Complementary :
$c_darker: #3bab3b;
$c_dark: #81be81;
$c: #acccac;
$c_light: #d2ddd2;
$c_lighter: #f7f7f7;

// Blue Groupomania :
$b_darker: #01112B;
$b_dark: #031839;
$b: #091f43;
$b_light: #24395B;
$b_lighter: #405068;
