.flux-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: $bp_tablet) {
    margin-top: 2rem;
  }
  @media screen and (min-width: $bp_laptop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  @media screen and (min-width: $bp_laptop_large) {
  }
  @media screen and (min-width: $bp_big_screen) {
  }
}
