.form-profile {
  width: 100%;
  min-height: 75vh;
  @media screen and (min-width: $bp_tablet) {
    width: 60%;
  }
  @media screen and (min-width: $bp_laptop) {
    width: 40%;
  }
  @media screen and (min-width: $bp_laptop_large) {
  }
  @media screen and (min-width: $bp_big_screen) {
  }
  form {
    div {
      width: 80%;
      margin: 1rem 0 1rem 0;
    }
    @media screen and (min-width: $bp_tablet) {
      width: 100%;
    }
    @media screen and (min-width: $bp_laptop) {
    }
    @media screen and (min-width: $bp_laptop_large) {
    }
    @media screen and (min-width: $bp_big_screen) {
    }
  }
  .input-wrap {
    width: 80%;
  }
  .select-wrap {
    width: 80%;
  }
  .textarea-wrap {
    height: 15vh;
  }
  .img-preview-profile {
    margin-top: 2rem;
    width: 100%;
    max-height: 30vh;
    object-fit: cover;
    object-position: center;
  }
  &--submit {
    justify-content: center;
  }
}
